body {

  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  line-height: 1.5;
  font-weight: lighter;
}

ol {

  list-style-type: '-';

}

main {
  padding-left: 5%;
  padding-right: 5%;
}


.title {

  background-image: url("../images/apple-pie.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

h1 {

  color: white;
  display: flex;
  justify-content: center;
  font-weight: 150;
  font-size: 90px;

}

h2 {

  font-weight: 180;
}

#section-one {

  font-size: 20pt;
  padding-top: 5rem;
  padding-bottom: 2rem;
  text-align: center;

}

#section-two {

  font-size: 16pt;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#section-three {

  font-size: 16pt;
  padding-bottom: 5rem;
  padding-top: 1rem;


}

ul {

  list-style-type: decimal;
}

.cooking-picture {

  width: 400px;
  display: flex;
  margin-left: auto;
  margin-right: auto;

}

.recipe-picture {

  width: 450px;
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;

}
