*{
 box-sizing: border-box;
}

body {
  background-image: url("../images/octavian-rosca-UfCYo7zHyY8-unsplash.jpg");
  background-repeat: no-repeat;

}

/* SECTION 1 */

#players-order-title {

  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 42px;

}


#character-selection {
  margin: 3%;
}


.buttonStartGame {

  font-size: 22px;
  border-radius: 3px;
}

.buttonStartGame:hover {

  color: black;
  background-color: white;
  font-weight: 650;
  letter-spacing: 4px;
}

.allcards {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  padding-top: 25px;
}

.card {
  width: 270px;
  height: 470px;
  transform: translate(2%);
  border-radius: 16px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}

.card:hover img {
  opacity: 0.4;
  transition: .5s;
}

.card:hover button {
  color: white;
  font-weight: 650;
  display: inline-block;
  padding: 10px 30px;
  /* color: white; */
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 4px;
}

button {
  color: white;
  font-weight: 500;
  display: inline-block;
  padding: 10px 30px;
  /* color: white; */
  border: 2px solid white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 3px;
  background-color: transparent;

}

.alert-button:hover {

  background-color: black;
  opacity: 85%;
}

.img {
  display: flex;
  height:100%;
  width:100%;
  background-size: cover;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
  transition: .5s;
}

.img:hover  {
  transform: translateY(-10px);
  transition: all .95s;
}

.img-anne {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/anne2.jpg") ;
}

.img-anne:hover  {
  background-image: url("../images/anne2.jpg") ;
}

.img-alexandra {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/alexandra2.jpg") ;
}

.img-alexandra:hover  {
  background-image: url("../images/alexandra2.jpg") ;
}

.img-chatalere {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/chatalere2.jpg") ;
}

.img-chatalere:hover  {
  background-image: url("../images/chatalere2.jpg") ;
}

.img-claude {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/claude2.jpg") ;
}

.img-claude:hover  {
  background-image: url("../images/claude2.jpg") ;
}

.img-emilie {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/emilie2.jpg") ;
}

.img-emilie:hover  {
  background-image: url("../images/emilie2.jpg") ;
}

.img-manon {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/manon2.jpg") ;
}

.img-manon:hover  {
  background-image: url("../images/manon2.jpg") ;
}
.img-manon:active  {
  background-image: url("../images/manon2.jpg") ;
}

.img-marina {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/marina2.jpg") ;
}

.img-marina:hover  {
  background-image: url("../images/marina2.jpg") ;
}

.img-orchidee {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/orchidee2.jpg") ;
}

.img-orchidee:hover  {
  background-image: url("../images/orchidee2.jpg") ;
}

.img-sarah {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/sarah2.jpg") ;
}

.img-sarah:hover  {
  background-image: url("../images/sarah2.jpg") ;
}

.img-soraya {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/soraya2.jpg") ;
}

.img-soraya:hover  {
  background-image: url("../images/soraya2.jpg") ;
}

.img-valerie {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/valerie2.jpg") ;
}

.img-valerie:hover  {
  background-image: url("../images/valerie2.jpg") ;
}

.img-victoire {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/victoire2.jpg") ;
}

.img-victoire:hover  {
  background-image: url("../images/victoire2.jpg") ;
}




/* END SECTION 1 */

/* SECTION 2 */



#game-start {
  box-sizing: border-box;
}

body {
  position: relative;
}

h2 {
  color: white;
  font-size: 42px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

/* <-------------> DICES <-------------> */

.wrapper {

  width: 400px;
  height: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  align-items: center;
}


#status {
  position: absolute;
  left: 50%;
  text-shadow: #000;
  transform: translateX(-50%);
  min-width: 600px;
  margin: 0;
  font-weight: 200;
  font-size: 30px;
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  bottom: 68rem

}

.die {
  font-family: "Roboto", sans-serif;
  width: 32px;
  color: white;
  box-shadow: inset 0 0 0 rgba(251,81,81,0.4), 0 0 2.5em rgba(251,81,81,0.6);;
  border: 2px solid white;
  padding: 10px;
  font-size: 22px;
  margin: 2px;
  border-radius: 6px;
  background-color: transparent;
  display: flex;
  justify-content: center
}

.dice-roll:hover {
	box-shadow: inset 0 0 0 rgba(251,81,81,0.4), 0 0 2.5em rgba(251,81,81,0.6);
  letter-spacing: 3px;
	}

h3{

  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}




/* <-------------> DICES <-------------> */

/* <-------------> GRID <-------------> */

.grid {
  /* padding-top: 100px;
  display: flex;
  justify-content: center;
  height: 800px;
  width: 1650px;
  flex-wrap: wrap; */

  display: grid;
  grid-template-columns: repeat(15,1fr);
  grid-template-rows: repeat(15,minmax(70px, 1fr));

}

.cell {
  border: solid 1px rgba(246, 203, 203, 0.5);
  /* width: 110px;
  height: 80px; */
  color: transparent;
}

.cell.winner {

  background-image: url("../images/marcwinner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* grid-row: 14/ span 2;
  grid-column: 14 / span 2; */
  /*permet d'aggrandir la photo de marc*/

  /* width: 445px;
  height: 290px; */

}

.cell.interro {

  background-image: url("../images/interrogation.png");
  background-repeat: no-repeat;
  background-size: contain;
  /* width: 110px;
  height: 80px; */
}

.cell.heart {

  background-image: url("../images/heart.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 110px;
  height: 80px; */
}

.cell.magic {

  background-image: url("../images/magic.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 110px;
  height: 80px; */
}

.cell.start {

  background-image: url("../images/start.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.cell.group {

  background-image: url("../images/grouppanda.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 110px;
  height: 80px;
  */
}

.cell.quizz {

  background-color: white;
}


/* <-------------> GRID <-------------> */

/* <-------------> PLAYERS <-------------> */


.player1 {
  background-color: #fe7171;
  background-size: 100%;
  border-radius: 50%;
  position: relative;

}

.player2 {
  background-color: #d90707d3;
  background-size: 100%;
  border-radius: 50%;


}

/* <-------------> PLAYERS <-------------> */


/* END SECTION 2 */

.hidden {
  display: none;
}

.finalDisplay {

  color: white;
  text-shadow: #000;
  font-size: 56px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10%;
  width: 1100px
}

#myBtnModal {

  font-weight: 500;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

.img-anne2 {
  background-image: url("../images/anne2small.jpg") ;
  background-repeat: no-repeat;
}

.img-alexandra2 {
  background-image: url("../images/alexandra2small.jpg") ;
  background-repeat: no-repeat;
}

.img-chatalere2 {
  background-image: url("../images/chatalere2small.jpg") ;
  background-repeat: no-repeat;
}

.img-claude2 {
  background-image: url("../images/claude2small.jpg") ;
  background-repeat: no-repeat;
}

.img-emilie2 {
  background-image: url("../images/emilie2small.jpg") ;
  background-repeat: no-repeat;
}

.img-manon2 {
  background-image: url("../images/manon2small.jpg") ;
  background-repeat: no-repeat;
}

.img-marina2 {
  background-image: url("../images/marina2small.jpg") ;
  background-repeat: no-repeat;
}

.img-orchidee2 {
  background-image: url("../images/orchidee2small.jpg") ;
  background-repeat: no-repeat;
}

.img-sarah2 {
  background-image: url("../images/sarah2small.jpg") ;
  background-repeat: no-repeat;

}

.img-soraya2 {
  background-image: url("../images/soraya2small.jpg") ;
  background-repeat: no-repeat;

}

.img-valerie2 {
  background-image: url("../images/valerie2small.jpg") ;
  background-repeat: no-repeat;

}

.img-victoire2 {
  background-image: url("../images/victoire2small.jpg") ;
  background-repeat: no-repeat;

}

#a_text:hover {

  border-color: pink;
  color: pink;
}

#b_text:hover {

  border-color: pink;
  color: pink;
}

#c_text:hover {

  border-color: pink;
  color: pink;

}

#d_text:hover {

border-color: pink;
color: pink;
}

#empty {

  color: white;
  font-size: 26px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;

  ;}
