.container {
  color: var(--color);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.right {
  text-align: right;
  width: 100%;
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.stack span {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 4rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  };
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%, 100% {  text-shadow: none; transform: none; }
}
body {
  background: black;
}

h1{

  color: white;
}

.allcards {

  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}

.card {
  width: 270px;
  height: 470px;
  transform: translate(50%);
  border-radius: 16px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}



.img {
  display: flex;
  height:100%;
  width:100%;
  background-size: cover;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
  transition: .5s;
}

.img:hover  {
  transform: translateY(-10px);
  transition: all .95s;
}

.img-anne {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/anne2.jpg") ;
}

.img-anne:hover  {
  background-image: url("../images/anne2.jpg") ;
}

.img-alexandra {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/alexandra2.jpg") ;
}

.img-alexandra:hover  {
  background-image: url("../images/alexandra2.jpg") ;
}

.img-chatalere {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/chatalere2.jpg") ;
}

.img-chatalere:hover  {
  background-image: url("../images/chatalere2.jpg") ;
}

.img-claude {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/claude2.jpg") ;
}

.img-claude:hover  {
  background-image: url("../images/claude2.jpg") ;
}

.img-emilie {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/emilie2.jpg") ;
}

.img-emilie:hover  {
  background-image: url("../images/emilie2.jpg") ;
}

.img-manon {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/manon2.jpg") ;
}

.img-manon:hover  {
  background-image: url("../images/manon2.jpg") ;
}

.img-marina {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/marina2.jpg") ;
}

.img-marina:hover  {
  background-image: url("../images/marina2.jpg") ;
}

.img-orchidee {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/orchidee2.jpg") ;
}

.img-orchidee:hover  {
  background-image: url("../images/orchidee2.jpg") ;
}

.img-sarah {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/sarah2.jpg") ;
}

.img-sarah:hover  {
  background-image: url("../images/sarah2.jpg") ;
}

.img-soraya {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/soraya2.jpg") ;
}

.img-soraya:hover  {
  background-image: url("../images/soraya2.jpg") ;
}

.img-valerie {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/valerie2.jpg") ;
}

.img-valerie:hover  {
  background-image: url("../images/valerie2.jpg") ;
}

.img-victoire {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../images/victoire2.jpg") ;
}

.img-victoire:hover  {
  background-image: url("../images/victoire2.jpg") ;
}


.hidden {
  display: none;
}
